
body{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Rubik';
    background-color:rgb(243,250,252);
    overflow-x: hidden;

}


html{
    scroll-behavior: smooth;

}




nav {
    height: 10vh;
    width: 100%;
    min-width: 600px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color:transparent;
    margin: auto;
    position:fixed;
    z-index: 1;
}
.navigationBar a:hover{
    color:aqua;
}
nav a{
    text-decoration: none;
    position: relative;
    color:white;
    letter-spacing: 0.5px;
    padding: 0 10px;
    font-weight: bold;
}

nav a:after{
    content: "";
    position:absolute;
    background-color:white;
    height:2px;
    width:0;
    left:0;
    bottom: -3px;
    transition: 0.3s;
}

nav a:hover:after{
    width:100%;

}



.nav {
    height: 10vh;
    width: 100%;
    min-width: 600px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color:transparent;
    margin: auto;
    position:fixed;
    z-index: 1;
}
.navigationBar a:hover{
    color:aqua;
}
.nav a{
    text-decoration: none;
    position: relative;
    color:black;
    letter-spacing: 0.5px;
    padding: 0 10px;
    font-weight: bold;
}

.nav a:after{
    content: "";
    position:absolute;
    background-color:black;
    height:2px;
    width:0;
    left:0;
    bottom: -3px;
    transition: 0.3s;
}

.nav a:hover:after{
    width:100%;

}






.mainImage{
    height:100vh;
    width:100%;
    background-image: url('images/mainpage.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
    font-weight:bold;
    text-align: center;

}




.sectionTitle{
    height:400px;
    background-color:black;
    color:rgb(243,250,252);
    text-align:center;
    line-height: 150px;
    text-shadow: 1px 1px black;
    font-family: 'Rammetto One', cursive;
    font-size:150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Teko', sans-serif;
    letter-spacing:5px;
    scroll-margin-top: 55px;

}




.greyed {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.adelaideTitle{
    font-size:100px;
    position: relative;
    top:175px;
}


.adelaideTitle:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.subText{
    width: 400px;
    color:white;
    font-size:10px;
    position: relative;
    top:175px;
    margin-left:auto;
    margin-right: auto;
    font-style: italic;
    font-weight: lighter;
}


.explore2{

    margin-left:4vw;
    margin-top:2vw;
    height:15%;
    background-color:transparent;
    color:rgb(182,70,42);
    border: 1px solid rgb(182,70,42);
    width:25%;
}


.explore2:hover{
    background-color:rgb(182,70,42);
    box-shadow: 10px 10px 25px 2px rgb(182,70,42,0.5);
    color:white;
    height:16%;
    width:26%;
}

.explore2:active{
    
    transform: translateY(6px);
      
}


#section1Title{
    background-color:white;
    color:black;


}





#section2Title{
    background-image: url('images/photoshop.png');
    
}

#section3Title{
    background-image: url('images/HDIMAGELoL.jpg');
    
}

#section4Title{
    background-image: url('images/restaurantpicture.jpg');
}

.box{
    width:100%;
    height:30%;
}



.leftBoxText{
    float:left;
    position:absolute;
    font-size:14px;
    width:30%;
    text-align:justify;
    margin-top:19.7%;
    font-family: 'IBM Plex Sans', sans-serif;
}


.topLeft{
    background-image: url('botanic4.jfif');
}


.rightBoxText{
    float:right;
    margin-top:65.5%;
    font-family: 'IBM Plex Sans', sans-serif;

    text-align:justify;
    font-size:14px;
}

.iphoneIcon{
    height:10px;
    width:10px;
    background-image: url('images/apple-phone.png');
}

.welcomePage{
    height:600px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url('images/blur.png');
    background-attachment: fixed;
}

.welcomeContent{
    height:850px;
}



#section3RightBox{
    background-image: url('images/hotel1.jpg')
}

#section3LeftBox{
    background-image: url('images/hotel2.jpg')
}



.darkerImage{
    

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}



.sectionBox{
    height:500px;
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    
}

.sectionBox2{
    margin-top:120px;
    width:1200px;
    height:600px;
    margin-left:auto;
    margin-right: auto;
}

.boxLeft{
    float:left;
    margin-top:25px;
    margin-left:75px;
}


.boxLeftText{
    margin-top:40px;
    width:400px;
    font-family: 'Rubik';
    color:rgb(41,58,119);
    text-align:justify;


}

.sections {
    background-color:rgb(243,250,252);
}

.headings{
    font-size:30px;
    font-family:'Rubik';
    color:rgb(182,70,42);
    border-bottom: 1px solid rgb(183,73,46);

}

.sectionBody{
    margin-top:60px;
    height:600px;
}



.boxRight{
    height:90%;
    margin-top:60px;
    width:600px;
    float:right;
    background-color:rgb(164,172,180,0.5);
    border-radius: 10px;
    
}
.subLeftBox{
    height:80%;
    margin-top:60px;
    width:483px;
    float:left;
    background-color:rgb(164,172,180,0.5);
    border-radius: 10px;
    margin-left:68px;
}

#section3Image{
    background-image: url('images/hotel1.jpg')
}

#section4Image{
    background-image: url('images/ochregrill.jpg')
}

.rightImage{
    margin-top:30px;
    height:450px;
    width:600px;
    position:absolute;
    margin-left:550px;
    background-image: url('images/12312.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:10px;
}

.subLeftImage{
    margin-top:10px;
    height:500px;
    width:483px;
    position:absolute;
    background-image: url('images/greek.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:10px;
    margin-left:120px;
    

}


.contacts{
    margin-top:20px;
    height:100px;
    width:400px;
    border: 1px solid rgb(196,70,42);
    background-color:white;
    font-family: 'Work Sans', sans-serif;

    
}

.location{
    position: absolute;
    border-radius: 50% 50% 50% 0;
    border: 4px solid red;
    width: 10px;
    height: 10px;
    margin:10px;
    transform: rotate(-45deg);
}

.locationText{
    transform: rotate(45deg);
    font-size:10px;
    width:100px;
    border:1px solid black;
}

.addy{
    height:15px;
    width:15px;
    margin:15px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url('images/locationmarker.jpg');
}

.phone{
    height:10px;
    width:10px;
    margin:15px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url('images/phone.png');
}



.website{
    height:20px;
    width:20px;
    margin:10px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url('images/website.jpg');
}


.addressText{
    float:left;
    font-size:12px;
    margin: 15px;
    margin-left: 40px;
    line-height:-5px;
}

.phoneText{
    float:left;
    font-size:12px;
    margin-left:40px;
}

.websiteText{
    float:left;
    font-size:12px;
    margin-left:40px;
}


.section2{
    margin-left: auto;
    margin-right: auto;
}

#subsectionHeading{
    float:right;
}

.rightAlignedBox{
    float:right;
    margin-right: 117px;
}


.logo{
    width:20%;
    height:170px;
    background-color:white;
    float:left;
    background-image: url('images/southaustralialogo.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.footerContent{
    width:79.75%;
    float:left;
    height:200px;
    text-align:center;
}

.footerLinks{
    margin-top:8vh;
}

.footerLinks a{
    color:white;
    text-decoration: none;
    padding-left:100px;
}

.footerLinks a:hover{
    font-weight:bold;
    color:gray;
    cursor:pointer;
}




.tempBox{
    height:80px;
}
.informationBox{
    margin-left:11.5%;
    height:75%;
    width: 45%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url('images/beach.jpg');
    opacity:1;
    border-radius: 5px;
    box-shadow: 20px 20px 50px black;

}

.informationContet{
    width:90%;
    height:80%;
    background-color:white;
    margin-left:80%;
    box-shadow: 20px 20px 50px black;
    border-radius:10px;

}


.welcomeText{
    margin-left:10%;
    font-size:30px;
    color:rgb(196,70,42);
    font-weight:bolder;
}


.welcomeSectionText{
    margin-left:10%;
    margin-top:6%;
    margin-right:10%;
    font-size:25px;
    color:rgb(33,51,117);
    font-family: 'Cantarell', sans-serif;
}

.mainBox{
    margin-top:8%;
    height:425px;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.mainText{  
    height:100px;
    width:375px;
    text-align: justify;
}

.imageRight{
    width:550px;
    height:300px;
    float:right;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:10px;
    
    background-image: url('images/adelaide_1.jpg')
}

.quote{
    height:50px;
    width:1000px;
    margin-top:25%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-style: italic;

}



.author{
    color:rgb(196,70,42);
    font-weight:bold;
    font-style: normal;
}

.mainBox2{
    height:500px;
    width:1000px;
    margin-left:auto;
    margin-top:5%;
    margin-right:auto;
}

#mainText2{
    float:right;
    width:470px;
}

.imageLeft{
    height:350px;
    width:450px;
    border-radius:10px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    float:left;
    background-image:url('images/adelaide3.jpg');
}


.link{
    color:black;

}

.link:hover{
    text-decoration: none;
    color:rgb(196,70,42);
}

.TITLE{
    margin-left:auto;
    margin-right:auto;
    text-shadow: 1px 1px black;
    font-size: 160px;
     
    letter-spacing: 10px;
    font-family: 'Luxurious Roman', cursive;
}


.temp4{
    height:30vh;
}

.footer{
    margin-left:auto;
    margin-right:auto;
}
.sectionBox3{
    height:170px;
    width:100%;
    background-color:rgb(33,51,117);
}

.disclaimers{
    height:25px;
    width:100%;
    margin-bottom:0px;
    background-color:rgb(27,42,97);
    font-size:15px;
    position:absolute;
    text-align:center;
    
}

.disclaimerContent{
    margin-top:.5vh;
    color:darkgray;
    
}